    
    <div class="col-sm-12 pt-5 text-right">
        <div class="col-md-12">
            <button type="button" class="btn btn-primary" (click)="onClickAddTodo()">Add Todo</button>
        </div>
    </div>
    
    <div class="col-sm-12 pt-2">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-striped">
                <thead class="table-primary">
                    <tr>
                        <th scope="col" colspan="4">Todo</th>
                        <th scope="col" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of todos">
                        <td><input type="checkbox" [checked]="todo.done" (change)="onTaskComplete(todo.id, $event)" /></td>
                        <td [ngClass]="{'done': todo.done}">{{todo.description}}</td>
                        <td [ngClass]="{'done': todo.done}">{{todo.dueDate}}</td>
                        <td>{{todo.priority}}</td>
                        <td width="150" class="text-center">
                            <button type="button" class="btn btn-danger btn-sm" (click)="onClickTodoDelete(todo.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
